@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  background-image: url("../assets/img/mesh-gradient.svg");
  background-size: cover;
  padding: 30px 60px;
  height: 100vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 60px;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

main h1 {
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 30px;
}

main p {
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 60px;
}

main p a {
  color: #000;
  font-weight: 500;
}

main .sally {
  position: absolute;
  right: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

form input {
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 24px;
  padding-right: 24px;
}

form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #000;
  color: #fff;
  width: 125px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
